<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/static/dashboard.css" type="text/css">
{% extends "layout.html" %}
{% block body %}
<html>
    <header>
        <p><a href="/logout">Logout</a></p>
        <p><a href="/{{location_id}}/menu">Back to menus</a></p>
        <p><a href="/employee">Back to Employee Console</a></p>
    </header>
    <body>
        <h1> Sales Dashboard </h1>
        <h2> Last week Statistics</h2>
        <ul style="font-size:25px";>
            <li >Total Sales: {{ sales[0].total_sales }}</li>
            <li>Sales Per Order: {{ sales_per_order[0].sales_per_order }}</li>
        </ul>
        <h2> Top 3 Hot Sale Items </h2>
        <ul style="font-size:25px";>
            {% for item in popular_items %}
                <li> {{ item.item_name, item.quantity}}</li>
            {% endfor %}
        </ul>
    </body>
</html>
{% endblock %}