<link rel="stylesheet" href="/static/style.css" type="text/css">
{% extends "layout.html" %}
{% block body %}
<html>

    <header>
	<p><a href="/logout">Logout</a></p>
	<p><a href="employee">Employee Console</a></p>
    </header>

    <body>
	<h1>Employee Console</h1>

	<form action="#" method="POST">
	    <div class="add-menus">
		<div class="add-menus-screen">
		    <h1>Add Menus</h1>
		</div>
		<div class="add-menus-form">
		    <div class="control-group">
		    </div>
		</div>
	    </div>
	</form>
    </body>
</html>
{% endblock %}
