<link rel="stylesheet" href="/static/style.css" type="text/css">
<html>

    <body>
	<h1>Restaurants</h1>

	<table>
	    <thead>
		<tr>
		    <th></th>
		    <th>Name</th>
		    <th>Address</th>
		    <th>City</th>
		</tr>
	    </thead>
	    <tbody>
		{% for n in data %}
		<tr>
		    <td><a href="/{{n.location_id}}/menu">View Menu</a></td>
		    <td class="location_name">{{n.location_name}}</td>
		    <td class="location_address">{{n.location_address}}</td>
		    <td class="location_city">{{n.location_city}}</td>
		</tr>
		{% endfor %}
	    </tbody>
	</table>

	<footer>
	    <p><a href="/logout">Logout</a></p>
	</footer>

    </body>
</html>
