<link rel="stylesheet" href="/static/style.css" type="text/css">
{% extends "layout.html" %}
{% block body %}
<html>

    <header>
	<p><a href="/{{location_id}}/menu">Back to menus</a></p>
	<p><a href="/logout">Logout</a></p>
    </header>

    <body>
	<h1>{{location_name}}</h1>
	<h2>{{menu_name}}</h2>

	<form method="POST" id="order-form">
	    <input type="submit" value="Order" class="btn-order btn-primary btn-large btn-block">
	    <br>
	    <input type="checkbox" name="pickup" value="pickup" class="btn-check">Check for pickup
	</form>
	<table>
	    <thead>
		<tr>
		    <th>Quantity</th>
		    <th>Section</th>
		    <th>Item</th>
		    <th>Description</th>
		    <th>Price</th>
		</tr>
	    </thead>
	    <tbody>
		{% for n in data %}
		<tr>
		    <td>
			<input type="number" id="qty" name="{{n.item_id}}" value="0" form="order-form" min="0" max="10"/>
		    </td>
		    <td class="menu_section">{{n.menu_section_name}}</td>
		    <td class="menu_item_name">{{n.menu_item_name}}</td>
		    <td class="menu_item_description">{{n.menu_item_description}}</td>
		    <td class="menu_item_price">{{n.menu_item_price}}</td>
		</tr>
		{% endfor %}
	    </tbody>
	</table>

    </body>
</html>
{% endblock %}
