<link rel="stylesheet" href="/static/style.css" type="text/css">
<html>

    <body>
	<h1>Menus</h1>

	<table>
	    <thead>
		<tr>
		    <th></th>
		    <th>Menu Name</th>
		</tr>
	    </thead>
	    <tbody>
		{% for n in data %}
		<tr>
		    <td><a href="#">View Items</a></td>
		    <td class='menu_name'>{{n.menu_name}}</td>
		</tr>
		{% endfor %}
	    </tbody>
	</table>

	<footer>
	    <p><a href="/">Back to restaurants</a></p>
	    <p><a href="/logout">Logout</a></p>
	</footer>

    </body>
</html>
