<link rel="stylesheet" href="/static/style.css" type="text/css">
<html>

    <header>
	<p><a href="/">Back to restaurants</a></p>
	<p><a href="/logout">Logout</a></p>
    </header>

    <body>
	<h1>{{location_name}}</h1>
	<h2>Menus</h2>

	<table>
	    <thead>
		<tr>
		    <th></th>
		    <th>Menu Name</th>
		</tr>
	    </thead>
	    <tbody>
		{% for n in data %}
		<tr>
		    <td><a href="/{{n.menu_id}}/items">View Items</a></td>
		    <td class="menu_name">{{n.menu_name}}</td>
		</tr>
		{% endfor %}
	    </tbody>
	</table>

    </body>
</html>
