<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/static/orderhistory.css" type="text/css">

{% extends "layout.html" %}
{% block body %}
<body class="container">
    <br>
    <header>
	<p><a href="/">Back to Main Page</a></p>
	<p><a href="/logout">Logout</a></p>
    </header>

    <h1>My Order History</h1>
    <form method="POST" id="rating-form">
	<div class="col-sm">
            <input type="submit" value="Submit Rating" class="btn btn-primary">
	</div>
    </form>

    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
		<th scope="col">Item Name</th>
		<th scope="col">Quantity</th>
		<th scope="col">Restaurant</th>
		<th scope="col">Time</th>
		<th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>
            {%  for n in orders %}
            <tr>
                <th scope="row" class="menu_item_name">{{n.menu_item_name}}</th>
                <td class="quantity text-center">{{n.quantity}}</td>
                <td class="location_name">{{n.location_name}}</td>
                <td class="order_placed">{{n.order_placed}}</td>
                <td>
                    <input type="hidden" name="rating" value = "{{n.order_id}}" form="rating-form">
                    <input type="hidden" name="rating" value = "{{n.order_item_id}}" form="rating-form">
                    <input type="number" id="id" name="rating" value="{{n.rating}}" form="rating-form" min="1" max="5" by="1">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}
`
