<link rel="stylesheet" href="/static/style.css" type="text/css">
{% extends "layout.html" %}
{% block body %}
<html>
    <head>
	<meta charset="utf-8"
    </head>
    <header>
	<p><a href="/logout">Logout</a></p>
	<p><a href="/">Back to Index</a></p>
	<p><a href="/employee">Employee Console</a></p>
    </header>
    <body>
	<h1>Pickup Console</h1>
	<h2>Location: {{location_name}}</h2>
	<form action="/{{location_id}}/pickup" id="pickup-form" method="POST">
	    <input type="submit" value="Update Pickup" class="btn-update btn-primary btn-large btn-block">
	</form>
	<h3>Orders awaiting pickup</h3>
	<table>
	    <thead>
		<tr>
		    <th>Add to picked up</th>
		    <th>Order ID</th>
		    <th>Customer ID</th>
		    <th>Time Placed</th>
		</tr>
	    </thead>
	    <tbody>
		{% for n in to_pickup %}
		<tr>
		    <td>
			<input type="checkbox" form="pickup-form" name="to_pickup-box" value="{{loop.index0}}-pickup-{{n.order_id}}" style="width: 40px">
		    </td>
		    <td>{{n.order_id}}</td>
		    <td>{{n.customer_id}}</td>
		    <td>{{n.date_placed}}</td>
		</tr>
		{% endfor %}
	    </tbody>
	</table>

	<h3>Orders marked picked up</h3>
	<table>
	    <thead>
		<tr>
		    <th>Remove from picked up</th>
		    <th>Order ID</th>
		    <th>Customer ID</th>
		    <th>Time Placed</th>
		    <th>Pickup Time</th>
		</tr>
	    </thead>
	    <tbody>
		{% for n in were_pickup %}
		<tr>
		    <td>
			<input type="checkbox" form="pickup-form" name="were_pickup-box" value="{{loop.index0}}-pickup-{{n.order_id}}" style="width: 40px">
		    </td>
		    <td>{{n.order_id}}</td>
		    <td>{{n.customer_id}}</td>
		    <td>{{n.date_placed}}</td>
		    <td>{{n.pickup_time}}</td>
		</tr>
		{% endfor %}
	    </tbody>
	</table>
    </body>
</html>
{% endblock %}
