<link rel="stylesheet" href="/static/style.css" type="text/css">
{% extends "layout.html" %}
{% block body %}
{% if session['logged_in'] %}

You're logged in already!

{% else %}

<header>
    <a href="/">Back to login</a>
</header>
<form action="/register" method="POST">
    <div class="register">
	<div class="register-screen">
	    <div class="app-title">
		<h1>Register</h1>
	    </div>
	    <div class="register-form">
		<div class="control-group">
		    <input type="text" class="register-field" value="" placeholder="full name" name="name">
		    <label class="register-field-icon fui-user" for="register-name"></label></div>
		<div class="control-group">
		    <input type="text" class="register-field" value="" placeholder="username" name="username">
		    <label class="register-field-icon fui-user" for="register-username">Required</label></div>
		<div class="control-group">
		    <input type="password" class="register-field" value="" placeholder="password" name="password">
		    <label class="register-field-icon fui-lock" for="register-pass">Required</label></div>
		<div class="control-group">
		    <input type="password" class="register-field" value="" placeholder="confirm password" name="confirm-password">
		    <label class="register-field-icon fui-lock" for="register-conf-pass">Must contain at least 8 characters</label></div>
		<div class="control-group">
		    <input type="text" class="register-field" value="" placeholder="email" name="email">
		    <label class="register-field-icon fui-lock" for="register-pass"></label></div>
		<div class="control-group">
		    <input type="date" class="register-field" value="" placeholder="" name="dob">
		    <label class="register-field-icon fui-lock" for="register-dob"></label></div>
		<div class="control-group">
		    <input type="checkbox" name="employee" value="employee">Register as an employee</div>
		    <div class="control-group">
			<select name="locations">
			    {% for n in data %}
			    <option value="{{n.location}}" SELECTED>{{n.location}}</option>
			    {% endfor %}
			</select>
		    </div>
		    <input type="submit" value="Submit" class="btn btn-primary btn-large btn-block">
	    </div>
	</div>
    </div>
</form>{% endif %}
{% endblock %}
