<link rel="stylesheet" href="/static/style.css" type="text/css">
{% extends "layout.html" %}
{% block body %}
<html>
    <head>
	<meta charset="utf-8"
    </head>
    <header>
	<p><a href="/logout">Logout</a></p>
	<p><a href="/">Back to Index</a></p>
	<p><a href="/employee">Employee Console</a></p>
    </header>
    <body>
	<h1>Employee Console</h1>
	<h2>Location: {{location_name}}</h2>
	<form action="/{{location_id}}/updatedeleteitem" id="ud-form" method="POST">
	    <input type="submit" value="Submit Changes" class="btn-update btn-primary btn-large btn-block">
	</form>
	<table>
	    <thead>
		<tr>
		    <th>Delete</th>
		    <th>Update</th>
		    <th>Menu</th>
		    <th>Menu Section</th>
		    <th>Item</th>
		    <th>Description</th>
		    <th>Attributes</th>
		    <th>Price</th>
		</tr>
	    </thead>
	    <tbody>
		{% for n in item_info %}
		<tr>
		    <td>
			<input type="checkbox" form="ud-form" name="delete-box" value="{{loop.index0}}-delete-{{n.item_id}}" style="width: 40px">
		    </td>
		    <td>
			<input type="checkbox" form="ud-form" name="update-box" value="{{loop.index0}}-update-{{n.item_id}}" style="width: 40px">
		    </td>
		    <td>{{n.menu_name}}</td>
		    <td>
			<input type="text" form="ud-form" class="update-menu-section" value="" placeholder="{{n.menu_section_name}}" name="menu-section" style="width: 150px">
		    </td>
		    <td>
			<input type="text" form="ud-form" class="update-item-name" value="" placeholder="{{n.menu_item_name}}" name="menu-item-name">
		    </td>
		    <td>
			<input type="text" form="ud-form" class="update-item-description" value="" placeholder="{{n.menu_item_description}}" name="menu-item-description">
		    </td>
		    <td>
			<input type="text" form="ud-form" class="update-attribute-name" value="" placeholder="{{n.attribute_name}}" name="menu-attribute-name" style="width: 150px">
		    </td>
		    <td>
			<input type="number" form="ud-form" class="update-item-price" value="" placeholder="{{n.menu_item_price}}" name="update-item-price" step="0.01" min="0.00" max="9999.99" style="width: 80px">
		    </td>
		</tr>
		{% endfor %}
	    </tbody>
	</table>
    </body>
</html>
{% endblock %}
